# Compiled class files
*.class

# Log files
*.log

# BlueJ project files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
